<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Tambah Obat </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar(content = 'SIBAT')"></nav>

    <h2 style="margin: 15px;">Tambah Obat</h2>

    <form style="margin: 15px" th:action="@{/obat/tambah}" th:object="${obat}" method="POST">
        <div class="form-group row" >
            <div class="col-auto">
            <label for="nama">Nama :</label>
            <input th:field="${obat.nama}"  class="form-control" id="nama" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto">
            <label for="nomorRegistrasi"> Nomor Registrasi :</label>
            <input th:field="${obat.nomorRegistrasi}" class="form-control" id="nomorRegistrasi" >
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto">
                <label for="tanggalTerbit"> Tanggal Terbit :</label>
                <input th:field="${obat.tanggalTerbit}"  class="form-control" id="tanggalTerbit" placeholder="DD/MM/YYYY">
            </div>
        </div>
        <div class="form-group row">
            <div class="col-auto">
                <label for="harga"> Harga :</label>
                <input th:field="${obat.harga}"  class="form-control" id="harga" placeholder="Harga">
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label for="bentuk">Bentuk: </label>
                <select th:field="${obat.bentuk}" class="custom-select mr-sm-2" id="bentuk">
                    <option selected>Choose...</option>
                    <option value="1">Cairan</option>
                    <option value="2">Kapsul</option>
                    <option value="3">Tablet</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label for="jenis">Jenis: </label>
                <select th:field="${obat.jenis}" class="custom-select mr-sm-2" id="jenis">
                    <option selected>Choose...</option>
                    <option value="1">Generik</option>
                    <option value="2">Paten</option>
                </select>
            </div>
        </div>
        <div class="form-row align-items-center">
            <div class="col-auto my-1">
                <label for="supplier">Supplier: </label>
                <select th:field="${obat.supplier}" class="custom-select mr-sm-2" id="supplier">
                    <option selected>Choose...</option>
                    <option value="1">PT Bundamedik</option>
                    <option value="2">PT Mandara Medika Utara</option>
                    <option value="3">PT Medikaloka Daan Mogot</option>
                    <option value="4">PT Sarana Duta Jasamedika</option>
                    <option value="5">PT Prima Solusi Medika</option>
                    <option value="6">PT Nu Skin Indonesia</option>
                    <option value="7">PT Sang Naga Berlian</option>
                    <option value="8">PT Pertamina Bina Medika</option>
                    <option value="9">PT Sarana Meditama Metropolitan</option>
                    <option value="10">PT Siaga Bhakti Wirasta</option>
                </select>
            </div>
        </div>
            <div class="align-content-center">
                <button type="submit" name="save" class="btn btn-primary">
                    Submit
                </button>
            </div>
    </form>


</body>
