<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Tambah Gudang </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>

    <h2 style="margin-top: 30px; margin-bottom: 20px; text-align: center"> Tambah Gudang</h2>

    <form style="margin: 15px;" th:action="@{/gudang/tambah}" th:object="${gudang}" method="POST">
        <div class="form-group row" style="flex: auto">
            <div class="col-auto">
                <input type="hidden" th:field="${gudang.idGudang}" />
                <label for="nama">Nama :</label>
                <input th:field="${gudang.nama}" class="form-control" id="nama">
            </div>
        </div>
        <div class="form-group row" style="flex: auto">
            <div class="col-auto">
                <label for="alamat">Alamat :</label>
                <input th:field="${gudang.alamat}" class="form-control" id="alamat">
            </div>
        </div>
        <div class="align-content-center">
            <button type="submit" name="save" class="btn btn-primary" style="margin: auto">
                Submit
            </button>
        </div>
    </form>

</body>
</html>