<!DOCTYPE html>
<html xmlns:th="http://www.thymelaf.org">
<head>
    <title> Home </title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>

<body>
<nav th:replace="fragments/fragment :: navbar(content = 'Daftar Obat')"></nav>

    <table class="table" style="margin-bottom: 20px; margin-top: 30px">
        <thead class="thead-dark">
        <tr>
            <th scope="col">No</th>
            <th scope="col">Kode</th>
            <th scope="col">Nama</th>
            <th scope="col">Harga</th>
            <th scope="col">Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each = "obat, iterationStatus: ${obatList}">
            <th scope="row" th:text="${iterationStatus.count}"></th>
            <td th:text ="${obat.kode}"> </td>
            <td th:text="${obat.nama}"></td>
            <td th:text="${obat.harga}"></td>
            <td>
                <button type="button" class="btn btn-info" >
                    <a style="color: white" th:href="@{/obat/view?noReg=${obat.nomorRegistrasi}}">Lihat</a>
                </button>
                <button type="button" class="btn btn-dark">Ubah</button>
                <button type="button" class="btn btn-danger">Hapus</button>
            </td>
        </tr>
        </tbody>
    </table>
    <!--Button Submit-->
    <button type="button" class="btn btn-dark"  style="margin: 10px">
        <a th:href="@{/obat/tambah}" style="color: white">Tambah Obat</a>
    </button>




</body>
</html>