<!DOCTYPE html>
<html xmlns:th="http://thymeLeaf.org">
<head>
    <title>Filter Obat</title>

    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar(title = 'Filter Obat')"></nav>
<div class="container-fluid">
    <h2 style="margin: 20px">Cari Obat</h2>
    <form style="margin: 20px" th:action = "@{/obat/filter}" method="GET">
        <div class="row justify-content-left">
            <div class="col-2">
                <label>Gudang</label>
            </div>
            <div class="col-2">
                <select name="idGudang">
                    <option value="">-- Pilih Gudang --</option>
                    <option th:each="gudang : ${gudangList}" th:value="${gudang.id}" th:text="${gudang.nama}"></option>
                </select>
            </div>
        </div>

        <div class="row justify-content-left">
            <div class="col-2">
                <label>Jenis</label>
            </div>
            <div class="col-2">
                <select name ="idJenis">
                    <option value="">-- Pilih Jenis --</option>
                    <option th:each="jenis : ${jenisList}" th:value="${jenis.id}" th:text="${jenis.nama}"></option>
                </select>
            </div>
        </div>

        <div class="row justify-content-left">
            <div class="col-2">
                <label>Supplier</label>
            </div>
            <div class="col-2">
                <select name="idSupplier">
                    <option value="">-- Pilih Supplier --</option>
                    <option th:each="supplier : ${supplierList}" th:value="${supplier.id}" th:text="${supplier.nama}"></option>
                </select>
            </div>
        </div>
        <button style="margin: 10px" type="submit" class="btn btn-sm btn-primary">Cari</button>
    </form>

    <table class="table">
        <thead>
        <tr>
            <th>No </th>
            <th>Kode </th>
            <th>Nama </th>
            <th>Harga </th>
            <th>Gudang</th>
            <th>Jenis</th>
            <th>Supplier</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="obat, iterationStatus :   ${daftarObat}">
            <td><a th:text="${iterationStatus.count}"></a></td>
            <td><a th:text="${obat.kode}"></a></td>
            <td><a th:text="${obat.nama}"></a></td>
            <td><a th:text="'Rp' + ${obat.harga}"></a></td>
            <td><a th:text="${namaGudang}"></a></td>
            <td><a th:text="${obat.getJenis().getNama()}"></a></td>
            <td><a th:text="${namaSupplier}"></a></td>
        </tr>
        </tbody>
    </table>
</div>

<script>$(document).ready( function () {
    $('.table').DataTable();
} );</script>
</body>
</html>